<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="height: 100vh;">

  <ion-grid style="height: 100vh;">
    <ion-row style="height: 100vh;" class="ion-align-items-center">
      <ion-col>
        <ion-card>
          <ion-card-content>
            <form >
              <ion-input placeholder="CPF" type="text"></ion-input>
              <ion-input placeholder="Senha" type="password"></ion-input>
            </form>
            <ion-button expand="block" (click)="test()">Login</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>