<ion-header>
	<ion-toolbar>
		<ion-title>login</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label position="floating">CPF</ion-label>
				<ion-input [(ngModel)]="cpf"
						   type="number"
						   pattern=""
						   placeholder="cpf"></ion-input>
			</ion-item>
			<ion-item class="ion-margin-bottom">
				<ion-label position="floating">Senha</ion-label>
				<ion-input [(ngModel)]="password"
						   placeholder="senha"></ion-input>
			</ion-item>
			<ion-button expand="block"
						[routerLink]="'/tabs'"
						(click)="handleSubmit()">Login
			</ion-button>
		</ion-card-content>
	</ion-card>
</ion-content>
